
@media(max-width:600px) 
{

    
    body {
        background: url(../images/bg-mobile.svg) var(--soft-medium) center center no-repeat;
        background-size: cover;

    }

    .logo{
        width: 150px;
        height: 30px;
    }
    
    header{
       margin-bottom: 2px; 
       margin-left: 20px;
    }

    .container {
        flex-wrap: wrap;
    }

    .container .desktop{
        margin-top: 5px;
    }

    .container h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .container .text {
        font-size: 1.2rem;
        text-align: center;
    }

    .container .bnt {
        align-self: center;
        height: 45px;
        width: 250px;
        margin-top: 30px;
    }

    .footer {
        display: flex;
        margin-top: 3rem;
        justify-content: center;
        align-items: center;
    }

    .footer a{
        height: 30px;
        width: 30px;
    }

    .footer ul li a{
        font-size: 15px;
    }
}